body {
    background-color: rgb(216, 185, 191);
    color: rgb(19, 19, 16);
    margin-left: 200px;
    margin-right: 200px;

}

header {
    margin-top: 80px;

}

h1 {
    color: red;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
}

p {
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 30px;
    width: 300px;
}
.contato {
    width: 30px;
}

footer {
    margin-bottom: 30px;
}